<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <link rel="stylesheet" type="text/css" th:href="@{calendar.css}"/>
    <link rel="icon" type="image/x-icon" href="/anyone/favicon.ico">
</head>

<body>
<div class="parent">
    <div class="calendar">
        <div class="title">
            <h1 class="green" id="calendar-month"></h1>
            <h2 class="green" id="calendar-year"></h2>
            <a id="prev"></a>
            <a id="next"></a>
        </div>
        <div class="body">
            <div class="lightgrey body-list">
                <ul>
                    <li>MON</li>
                    <li>TUE</li>
                    <li>WED</li>
                    <li>THU</li>
                    <li>FRI</li>
                    <li>SAT</li>
                    <li>SUN</li>
                </ul>
            </div>
            <div class="darkgrey body-list">
                <ul id="days">
                </ul>
            </div>
        </div>
    </div>
    <div id="diary" class="diary"></div>
</div>
</body>
<script type="text/javascript" src="calendar.js"></script>

</html>